*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0 0 0 0;
}
body{
    font-family: 'Lustria', sans-serif;
    color: black;
    line-height: 29px;
    font-style: normal;
    width: 100%;
    height: 100vh;
}
/*Header*/
.header{
    width: 100%;
    height: 100vh;
    background: url("../images/flat_bg.jpg");
    background-size: cover;

}
/*Верхнее меню в хэдере*/
.topbar{
    padding: 0 100px;
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0, 0.45);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbar-tittle_text{
    color: white;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
}
.topbar-subtittle{
    font-size: 24px;
}
.topbar-button{
    display: flex;
    color: white;
    font-size: 24px;
    font-weight: 400;
}
.topbar-button div{
    margin: 0 20px;
    text-decoration: none;
}
.topbar-button div a{
    font-family: 'Kranky', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: white
}

.info{
    background-color: rgba(241, 238, 238, 0.7   );
    height: 70%;
    width: 80%;
    margin: 30px auto;
    backdrop-filter: blur(4px);
    border-radius: 31px;
    display: flex;
    align-items: center;
}
.info-image{
    height: 100%;
    display: flex;
    align-items: center;
}
.info-image img{
    margin: 0px 30px;
    height: 85%;
    border-radius: 30px;
}
.info-text{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    padding: 0 30px;
}
.info-text div:first-child{
    display: flex;
    justify-content: space-between;
}
.info-text-price{
    font-weight: 500;
    font-size: 40px;
}
/*.info-text div:second-child{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/
.info-text-subway{
    text-align: end;
    margin-bottom: 60px;
}
.info-text-tittle{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
}
.info-text-description{
    font-size: 24px;
    line-height: 30px;
}


.rights{
    /*margin-top: 100px;*/
    background-color: #343434;
    width: 100%;
    height: 80px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rights span{
    font-family: Lato;
    font-weight: 400;
    font-size: 23px;
}


