*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0 0 0 0;
}
body{
    font-family: 'Lustria', sans-serif;
    color: black;
    line-height: 1.2;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
/*test*/
/*Header*/
.header{
    width: 100%;
    height: 100vh;
    background: url("../images/header-bg.jpg");
    background-size: cover;
}
    /*Верхнее меню в хэдере*/
.topbar{
    padding: 0 100px;
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0, 0.45);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbar-tittle_text{
    color: white;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
}
.topbar-subtittle{
    font-size: 24px;
}
.topbar-button{
    display: flex;
    color: white;
    font-size: 24px;
}
.topbar-button div{
    margin: 0 20px;
    text-decoration: none;
}
.topbar-button div a{
    font-family: 'Kranky', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: white
}
    /*Меню поиска*/
.search-block{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    height: 100px;
    width: 100%;
    margin: auto 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(241, 238, 238, 0.9);
    border-radius: 15px;
}
.search div{
    margin: 0 ;
}
